{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on Munro App{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Munro App.{% endblocktrans %}

{% trans "Please go to the following page to reset the password to your account:" %}
http://localhost:3000/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Munro App team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Munro App.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to reset the password to your account:" %}</p>
<p><a href="http://localhost:3000/{{ url|safe }}">http://localhost:3000/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Munro App team{% endblocktrans %}</p>

{% endblock html_body %}